.App {
  text-align: center;
}
.home-list{
  padding: 40px;
  justify-content: center;
  align-items: center;
}
.item-list{
  margin: auto;
  margin-top: 50px;
  border: 1px solid gray;
 
}
.item-img{
  justify-content: center;
  align-items: center;
}
.item-detail{
  margin-top: 10px;
}
.item-detail h3{
  font-size: .8rem;
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 5px;
}
.detail-button{
  font-size: .7rem;
  padding: 1px 2px;
  display: inline-block;
}
.cart-button{
  font-size: .7rem;
  padding: 1px 2px;
  display: inline-block;
  background-color: red;
}
/* Media Queries*/
@media only screen and (max-width: 600px){
  .item-detail h3{
    font-size: .7rem;
  }
  .detail-button, .cart-button{
    font-size: .52rem;
    font-weight: bold;
  }
}